---
import HeroMusic from "./HeroMusic.jsx"
import { FaInstagram, FaLinkedin,  FaYoutube, FaSpotify, FaGithub, FaTiktok} from "react-icons/fa";
import { SiLinktree } from "react-icons/si";

const items=[
    {
        'info':'Youtube',
        'component':FaYoutube,
        'url':'https://www.youtube.com/@DotDager'
    },
    {
        'info':'Instagram',
        'component':FaInstagram,
        'url':'https://www.instagram.com/dager.32'
    },
    {
        'info':'Linkedin',
        'component':FaLinkedin,
        'url':'https://www.linkedin.com/in/mariano-luis-villa/?locale=en_US'
    },
    {
        'info':'Github',
        'component':FaGithub,
        'url':'https://github.com/MarianoVilla'
    },
    {
        'info':'Linktree',
        'component':SiLinktree,
        'url':'https://linktr.ee/DotDager'
    },
    {
        'info':'Spotify',
        'component':FaSpotify,
        'url':'https://open.spotify.com/artist/6bkClBMJd4qKxJp0J5vHsz?si=mbfNHqvBT9SKSQ-ZNhXHJg&nd=1'
    },
    {
        'info':'TikTok',
        'component':FaTiktok,
        'url':'https://www.tiktok.com/@elantrodedager'
    }
]
---
<section class="info">
    <div class="info-text">
        <h1>Welcome to Dot Dager</h1>
        <p>Hi, I’m Mariano, also known as Dot Dager. I’m a content creator passionate about programming, philosophy, guitars, cats, and yes, even pickles.</p>
    </div>
    <div class="social">
        {
            items.map((element)=>(
                <a href={element.url} class="social__item">
                    <element.component className="logo"/>
                </a>
            ))
        }
    </div>
    <HeroMusic client:visible></HeroMusic>
</section>

<style>
    .info{
        width:700px;
        margin:200px 20px;
    
    }
    .info-text{

    }
    .info-text h1{
        font-size:2.1rem;
        letter-spacing: 1px;
        margin:20px 0
    }
    .info-text p{
        width:600px;
        letter-spacing: 1px;
    }
    .social{
        width:min-content;
        height:50px;
        margin:15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:10px;
        padding:10px;
    }
    .social__item{
        background-color: rgb(0, 0, 0);
        width:35px;
        height:35px;
        padding:7px;
        border-radius:10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border:1px solid purple;
        transition: border-color .3s;
    }
    .logo{
        width:25px;
        height: 25px;
    }
    .social__item:hover{
        border-color: lightseagreen;
    }
</style>