---
import HeroMusic from "./HeroMusic.jsx"
import { FaInstagram, FaLinkedin,  FaYoutube, FaSpotify} from "react-icons/fa";
import { FaXTwitter } from "react-icons/fa6";
import { SiLinktree } from "react-icons/si";
---
<section class="info">
    <div class="info-text">
        <h1>Welcome to Dot Dager</h1>
        <p>Hi, I’m Mariano, also known as Dot Dager. I’m a content creator passionate about programming, philosophy, guitars, cats, and yes, even pickles.</p>
    </div>
    
    <div class="social">
        <a href="#" class="social__item">
            <FaInstagram className="logo"></FaInstagram>
        </a>
        <a href="#" class="social__item">
            <FaLinkedin className="logo"></FaLinkedin>
        </a>
        <a href="#" class="social__item">
            <FaYoutube className="logo"></FaYoutube>
        </a>
        <a href="#" class="social__item">
            <FaXTwitter className="logo"></FaXTwitter>
        </a>
        <a href="#" class="social__item">
            <FaSpotify className="logo"></FaSpotify>
        </a>
        <a href="#" class="social__item">
            <SiLinktree className="logo"></SiLinktree>
        </a>
        <!-- Falta titok y github -->

    </div>
    <HeroMusic client:visible></HeroMusic>
</section>

<style>
    .info{
        width:700px;
        margin:200px 20px;
    
    }
    .info-text{

    }
    .info-text h1{
        font-size:2.1rem;
        letter-spacing: 1px;
        margin:20px 0
    }
    .info-text p{
        width:600px;
        letter-spacing: 1px;
    }
    .social{
        width:min-content;
        height:50px;
        margin:15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:10px;
        padding:10px;
    }
    .social__item{
        background-color: rgb(0, 0, 0);
        width:35px;
        height:35px;
        padding:5px;
        border-radius:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border:2px solid rgb(240, 160, 12);
        transition: filter .3s;
    }
    .logo{
        width:25px;
        height: 25px;
    }
    .social__item:hover{
        filter:invert(1)
    }
</style>