.music{
    width:400px;
    height:110px;
    background-color: rgba(43, 42, 42, 0.329);
    backdrop-filter:blur(1px);
    border-radius:5px;
    margin:15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:10px;
    
}
.containerTitle{
    overflow-y: hidden;
    overflow-x:hidden;
}

.title{
    width: 300px;
    padding:5px;
    white-space: nowrap;
    text-align: center;
}
@keyframes textMove {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}

button{
    background-color: transparent;
    padding:0;
    margin:0;
    border:0;

}
.controls__logo{
    width:20px;
    height: 20px;
    margin:5px 10px;
    
}
.containerBar{
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.containerBar input{
    background-color: #000000;
    height: 5px;
    color:gray
}

.containerBar input::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #4caf50;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
}
.containerBar p{
    width:50px;
    text-align: center;
}
.bar{
    display: block;
    width: 250px;
    height: 15px;
}
@media screen and (max-width:720px) {
    .music{
        width:350px
    }
    
}
@media screen and (max-width:440px) {
    .music{
        width:270px;
        font-size: .9em;
        margin: auto;
    }
    .containerBar{
        width:240px
    }
}