---
import FooterCard from "./FooterCard.astro"
import { BsFillTelephoneFill as Telephone} from "react-icons/bs";
import { MdEmail } from "react-icons/md";
import { SiGooglemaps as Gps} from "react-icons/si";
import { FaCat, FaGuitar  } from "react-icons/fa";
import { FaComputer } from "react-icons/fa6";
import { GiPickle, GiWhiteBook } from "react-icons/gi";
import { FaInstagram, FaLinkedin,  FaYoutube, FaSpotify, FaGithub} from "react-icons/fa";
import { SiLinktree } from "react-icons/si";
const items1=[
    {
        'info':'mariano97@gmail.com',
        'component':MdEmail
    },
    {
        'info':'+54812912',
        'component':Telephone
    },
    {
        'info':'123 Fake Street',
        'component':Gps
    }
]
const items2=[
    {
        'info':'Cats',
        'component':FaCat
    },
    {
        'info':'Programming',
        'component':FaComputer
    },
    {
        'info':'Guitars',
        'component':FaGuitar
    },
    {
        'info':'Philosophy',
        'component':GiWhiteBook
    },
    {
        'info':'Pickles',
        'component':GiPickle
    }
]
const items3=[
    {
        'info':'Youtube',
        'component':FaYoutube,
        'url':'https://www.youtube.com/@DotDager'
    },
    {
        'info':'Instagram',
        'component':FaInstagram,
        'url':'https://www.instagram.com/dager.32'
    },
    {
        'info':'Linkedin',
        'component':FaLinkedin,
        'url':'https://www.linkedin.com/in/mariano-luis-villa/?locale=en_US'
    },
    {
        'info':'Github',
        'component':FaGithub,
        'url':'https://github.com/MarianoVilla'
    },
    {
        'info':'Linktree',
        'component':SiLinktree,
        'url':'https://linktr.ee/DotDager'
    },
    {
        'info':'Spotify',
        'component':FaSpotify,
        'url':'https://open.spotify.com/artist/6bkClBMJd4qKxJp0J5vHsz?si=mbfNHqvBT9SKSQ-ZNhXHJg&nd=1'
    }
]

---

<section class="footerTop">
    <section class="section1">
        <img src="/images/mainLogo.png" alt="logo" class="logo">
        <p>Hi, I’m Mariano, also known as Dot Dager. I’m a content creator passionate about programming, philosophy, guitars, cats, and yes, even pickles. </p>
    </section>
    <section class="section2">
        <FooterCard title="Info" items={items1}></FooterCard>
        <FooterCard title="Interest" items={items2}></FooterCard>
        <FooterCard title="Social" items={items3}></FooterCard>
    </section>
</section>

<style>
    
    .footerTop{
        border-top:1px solid gray;
        height: 400px;
        margin:20px;
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    .section1{
        min-width:200px;
        height:300px;
        border-right: 1px solid gray;
        padding:40px 20px;
        margin:20px;

    }
    .logo{
        width:230px;
        height: 70px; 
    }
    .section1 p{
        margin-top:20px
    }
    .section2{
        width:100%;
        height: 300px;
        padding:15px;
        margin:10px;
        display: flex;
        justify-content: space-evenly;
    }

    @media screen and (max-width:1080px) {
        .footerTop{
            flex-direction: column;
            height: auto;
        }
        .section1{
            text-align: center;
            border-right: none;
            margin:0;
            height: auto;
        }
        
        .section2{
            height: auto;
        }
    }
    @media screen and (max-width:720px){
        .footerTop{
            font-size: .8rem;
        }
        .section2{
            flex-wrap: wrap;
            justify-content: start;
            
        }
    }

    @media screen and (max-width:480px){

        .section2{
            flex-direction: column;
        }
        .logo{
            width:180px;
            height: 50px;
        }
    }
</style>