
<section class="footerBottom">
    <p>© 2024 Dot Dager. All rights reserved.</p>
</section>

<style>
    .footerBottom{
        height: 50px;
        text-align: center;
        padding:20px;
        background-color: rgb(59, 3, 59);
    }
    .footerBottom p{
        background-color: inherit;
        color:white;
        font-weight: 600;
    }
    @media screen and (max-width:440px) {
        .footerBottom{
            font-size: .8rem;
        }
    }
</style>