---

interface Props{
    title:string,
    items:({info:string; component?:React.ComponentType | string; url?:string})[]
}
const {title, items}= Astro.props
---

<div class="card">
    <h3>{title}</h3>
    <ul>
        {
            items.map((i)=>(
                <li>
                    <i.component/>
                    <a href={i.url} target="_blank" aria-label={i.info}>{i.info}</a>
                </li>
            ))
        }
    </ul>
</div>

<style>
    .card{
        width: min-content;
        height:auto;
        padding:20px;
        
    }
    .card h3{
        padding-bottom: 10px;
    }
    .card li{
        padding:3px;
        display: flex;
        gap:10px
    }
</style>