---
import Card from "../Card.astro"
---
<h2>About Me</h2>
<section class="aboutMe">
    <div class="carousel">

    </div>
    <div class="containerCards">

    </div>
</section>

<style>
    h2{
        margin:70px 0 30px 0 ;
        letter-spacing: 1px;
        text-align: center;
    }
    .aboutMe{
        border:1px solid white;
        background-color: black;
        padding:30px 0
    }
    .carousel{
        width:300px;
        height:150px;
        margin:auto;
        background-color: cadetblue;

    }
    .containerCards{
        width:400px;
        height:200px;
        margin:auto;
        background-color: aquamarine;
    }
</style>

