---

import Carousel from "./Carousel.jsx"
import Card from "./Card.astro"
import Cats from  '../../../public/images/cats.jpg'
import Programming from  '../../../public/images/programming.jpg'
import Guitar from  '../../../public/images/guitar.jpg'
import Philosophy from  '../../../public/images/philosophy.jpg'
import Pickles from  '../../../public/images/pickles.jpg'
const cardInfo=[
    {   
        "title":"Cats",
        "description":"These furry companions are a huge part of my life. Their independent yet affectionate nature inspires me daily (and keeps me on my toes)",
        "image":Cats
    },
    {   
        "title":"Programming",
        "description":"From building apps to exploring new languages, coding is where I unleash my creativity. It's my way of solving problems and expressing ideas in the digital world.",
        "image":Programming
    },
    {
        "title":"Guitars",
        "description":"Music is my escape. Whether it's strumming a few chords or diving into a full jam session, playing the guitar helps me unwind and connect with my artistic side.",
        "image":Guitar
    },
    {
        "title":"Philosophy",
        "description":"I love questioning the world and exploring new perspectives. Deep conversations about life, existence, and everything in between keep me intrigued and constantly learning.",
        "image":Philosophy
    },
    {
        "title":"Pickles",
        "description":"Yes, pickles! A quirky obsession, but they remind me to find joy in the little things – and sometimes, it's the most unexpected interests that make life fun.",
        "image":Pickles
    }
]

---
<h2 id="about">About Me</h2>
<main class="aboutMe">
    <Carousel client:visible></Carousel>
    <div class="containerCards">
        {
            cardInfo.map((element)=>(
                <Card
                    title={element.title}
                    description={element.description}
                    image={element.image}
                ></Card>
            ))
        }
    </div>
</main>

<style>
    h2{
        margin:70px 0 0 0 ;
        letter-spacing: 1px;
        text-align: center;
    }
    .aboutMe{
        margin-bottom: 30px;
    }
    .containerCards{
        margin:50px auto;
        width:100%;
        padding:20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap:30px
    }
</style>

